@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: linear-gradient(180.85deg, #ed5fd7 27.26%, #7c178d 96.03%);
  font-family: "Roboto", sans-serif;
}
.container {
  background: #f7f7f7;
  color: #1c1c1c;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 40px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}
.tema button {
  align-self: flex-end;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #0e1d2f;
  padding: 8px 16x;
  background: #ecf4ff;
  border: 2px solid #0e1d2f;
  border-radius: 100px;
}

.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item {
  list-style-type: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
}
.projetos-item a {
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}
.dark .projetos {
  color: #1c1c1c;
}
.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}